<!-- views/login.ejs -->
<!doctype html>
<html>
<head>
    <title>Loading Information</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- <script src="public/js/socket.io.js"></script> -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <div>Waiting for Matching ...</div>

    <p><a href="/offer">Back</a></p>

</div>

</div>
</body>
<script>
$(document).ready(function(){
  // var socket = io.connect('http://localhost:8081/');
  // socket.on('match', function (data) {
  //   alert(data);
  // });

  function getResponse() {
    $.ajax({
      type: "GET",
      url: 'http://'+location.hostname+':8081/match/4',
      dataType: "json",
      success: function (data) {
        console.log(data);
        if(data == "") {
          setTimeout(function () {
              getResponse();
          }, 5000)
        }
        else {
          window.location = 'http://'+location.hostname+':8081/'+data.url;
        }
      },
      error: function () {
        console.log("error");
      }
    });
  }

  getResponse();

});

</script>
</html>
