<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
              <req></req>
            </div>
        </div>

    </div>

    <div>
      <button type="submit" class="btn btn-lg request">Find A Driver</button>
    </div>

    <div class="row">

        <!-- LOCAL INFORMATION -->
        <div class="col-sm-10">
            <div class="well">
              <res></res>
            </div>
        </div>

    </div>

</div>
</body>
<script>
$(document).ready(function(){
  $.get('http://localhost:8081/request/1', {}, function(data){
    console.log(data);
    for(var item in data) {
      $("req").append("<li>"+item+"</li>");
    }
    $("req").html(JSON.stringify(data));
  });

  $(".request").on("click", function(){
    console.log("here");
    $.get('http://localhost:8081/match', function(data){
      data.forEach(function(element) {
        console.log(element);
          $("res").append("<br><br><br>Driver Profile: <br>");
          for(key in element){
            if (element.hasOwnProperty(key)) {
              console.log("Key is " + key + ", value is " + element[key]);
              $("res").append(JSON.stringify(key) + ": " + JSON.stringify(element[key]) + "<br>");
              // $("res").append(JSON.stringify(element));
            }
          }

          $("res").append("<div><button type='submit' class='btn btn-lg select'>Select</button></div>");
      });
    });

    $.get('http://localhost:8081/request/1/offer/2', function(data){
      data.forEach(function(element) {
        console.log(element);
          $("res").append("<br><br><br>Driver Profile: <br>");
          for(key in element){
            if (element.hasOwnProperty(key)) {
              console.log("Key is " + key + ", value is " + element[key]);
              $("res").append(JSON.stringify(key) + ": " + JSON.stringify(element[key]) + "<br>");
              // $("res").append(JSON.stringify(element));
            }
          }

          $("res").append("<div><button type='submit' class='btn btn-lg select'>Select</button></div>");

      });
    });
  });

});
</script>
</html>
