<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<style>
 #map {
   width: 80%;
   height: 400px;
   background-color: grey;
 }
 
</style>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div>
      <button type="submit" class="btn btn-lg request">Start Transaction</button>
    </div>
    <h3>My Google Maps Demo</h3>

</div>

<div id="map"></div>


</div>
</body>

<script>
  $(document).ready(function(){
    $.get('http://localhost:8081/match/1', {}, function(data){
      console.log(data);
    });

  });

  function initMap() {
    var norman = {lat: 35.3956638, lng: -97.59625319999999};
    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      center: norman
    });
    var marker = new google.maps.Marker({
      position: norman,
      map: map
    });
  }
</script>
<script async defer
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDV1eUDB9xteputtFWaxWTDsgg9i7qG2-4&callback=initMap">
</script>

</html>
