<!-- views/profile.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body        { padding-top:80px; word-wrap:break-word; }
    </style>
</head>
<style>
  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  #map {
    height: 100%;
    float: left;
    width: 70%;
    height: 100%;
  }
  #directions-panel {
    margin-top: 10px;
    background-color: #FFF;
    padding: 10px;
    overflow: scroll;
    height: 50%;
  }

</style>
<body>
<div class="container">

    <div class="page-header text-center">
        <h1><span class="fa fa-anchor"></span> Profile Page</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div>
      <button type="submit" class="btn btn-lg start_transaction">Start Transaction</button>
    </div>
    <!-- <div>
      <button type="submit" class="btn btn-lg finish_transaction">Finish Transaction</button>
    </div>
    <div>
      <button type="submit" class="btn btn-lg delete_transaction">Delete Transaction</button>
    </div> -->

</div>

</div>
</body>

</html>
